[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pytest = "*"
sympy = "*"
scipy = "*"
tqdm = "*"
commentjson = "*"

[dev-packages]
flake8 = "*"
pre-commit = "*"
mypy = "*"
flake8-annotations = "*"

[requires]
python_version = "3.10"
